
#myc-container {
    width: inherit;
}

#myc-nav-container {
    margin-bottom: 15px;
    width: inherit;
}

#myc-current-month-year-container {
    display: inline-block;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    text-transform: capitalize;
    vertical-align: top;
    width: 68%;
}

#myc-prev-week-container {
    display: inline-block;
    width: 15%;
}

#myc-next-week-container {
    display: inline-block;
    width: 15%;
}

#myc-prev-week {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #6a6a6a;
    cursor: pointer;
    float: left;
    font-size: 3em;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    user-select: none;
}

#myc-next-week {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #6a6a6a;
    cursor: pointer;
    float: right;
    font-size: 3em;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;    
    user-select: none;
}

#myc-prev-week:hover, #myc-next-week:hover {
    border: 1px solid #bdbdbd;
    color: #585858;
}

#myc-week-container {
    /* border: 1px solid #e0e0e0; */
}

#myc-dates-container {
    /* background-color: #fafafa; */
    display: flex;
    width: 100%;
}

.myc-date-header {
    /* border-right: 1px solid #e0e0e0; */
    text-align: center;
    /* display: inline-block; */
    min-height: 50px;
    /* padding: 15px 0px 15px 15px;
    vertical-align: top;
    width: 13.77%; */
    padding: 0px 0px 15px 0px;
    vertical-align: top;
    width: 11.77%;
    margin: 0 7px;
    display: flex;
    flex-flow: column-reverse;
}

.myc-date-header:first-of-type {
    padding-left: 0px;
    /* border-bottom: 5px solid #d06690; */
}

.myc-date-header:last-of-type {
    border-right: none;
    width: 13%;
}

#myc-available-time-container {
    border-top: 1px solid #e0e0e0;
    min-height: 150px;
}

.myc-day-time-container {
    /*border-right: 1px solid #e0e0e0;*/
    display: inline-block;
    height: 100%;
    padding: 15px 15px 15px 15px;
    vertical-align: top;
    width: 13.77%;
}

.myc-day-time-container:first-of-type {
    padding-left: 15px;
}

.myc-day-time-container:last-of-type {
    border-right: none;
    width: 13%;
}

.myc-date-number {
    font-size: 1.5em;
    font-weight: 500;
}

.myc-available-time {
    border-radius: 6px;
    display: block;
    margin-bottom: 5px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-weight: 700;
    color: #000;
    opacity: 0.5;
    border: 1px solid transparent;
}

.myc-available-time.selected, .myc-available-time:hover {
    border-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.9);
    opacity: 1; 
}

.myc-date-display {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 4px;
}
.dtePckrHdng{
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: .5em 0em 1em 0em;
    text-align: center;
}
.bookSlotBlock h4 {
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);;
}
.bookSlotBlock{
    padding: 0em 1.5em;
}
div#picker {
    padding: 0em 1.5em;
}
.bookSlotBlock label{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);;
    margin: 0;
    vertical-align: text-bottom;
    line-height: 1.5
}
.bookSlotBlock input[type="radio"]{
    width: 18px;
    height: 18px;
}
.bookSlotBlock p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    margin-top: 1em;
}
.bookSlotBlock button.btn{
    max-width: 240px;
    margin: 1em auto;
    display: block;
    padding: 0.65em;
    margin-top: 2.5em;
}


@media only screen and (max-width: 768px) {
    div#picker {
        padding: 0em 1em;
    }
    .myc-day-time-container:first-of-type {
        padding-left: 3px;
    }
    .myc-date-header, .myc-day-time-container {
        width: 13%; 
    }
    .myc-date-header{
        margin: 0 5px;
    }
    
    #myc-prev-week-container{
        width: 14.75%;
    }
    .myc-day-time-container {
        padding: 15px 5px 15px 5px;
    }
    /*.myc-date-header:last-of-type, .myc-day-time-container:last-of-type {
        width: 12%;
    }*/
}
