
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}

select, input{
    outline: none!important;
    box-shadow: none!important;
}

.login .form-group {
    position: relative;
    margin-bottom: 1.5rem
}

.login .form-control-placeholder {
    position: absolute;
    top: 15px;
    left: 12px;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    color: grey;
    font-size: 14px;
}

.login .form-control:focus+.form-control-placeholder,
.login .form-control:valid+.form-control-placeholder{
    font-size: 90%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background-color: white;
    color: #d66292;
}

.login .form-control {
    background: transparent;
    border: none;
    border: 1px solid #a6a6a6;
    box-shadow: none!important;
    border-radius: 0px!important;
    /* padding: 1.5em .75rem; */
    min-height: 50px;
    color: black;
    font-size: 1rem;
}

input.form-control:focus,
input.form-control:after {
    outline-width: 0;
    border: 1px solid rgb(34, 34, 34);
    background: transparent
}

.login textarea.form-control{
    max-height: 200px;
    min-height: 130px;
}


.btn{
    outline: none!important;
    box-shadow: none!important;
    min-width: 80px;
}
section.login {
    min-height: 100vh;
}

section.login .d-flex.flex-row>div {
    width: 50%;
}
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.login .bg {
    background: url('../../assets/img/admin/bg1.jpg')no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.login-btn, .theme-btn {	
    background: #D66292!important;	
    color: white!important;	
    font-size: 16px!important;	
    font-weight: 500!important;	
    width: 100%;	
    border-radius: 0!important;	
    padding: 5px!important;	
    text-transform: uppercase;	
}
.login-btn:hover, .theme-btn:hover{
    color: white;
}

.login-btn{
    margin: 0.4em 0em;
}
.login-form img.logo {
    margin-bottom: 15px;
    max-height: 80px;
    width: auto;
    margin-top: 10px;
}

.login form {
    min-width: 310px;
    max-width: 70%;
    margin: 0 auto;
}


@media screen and (max-width:1024px) and (min-width:990px) {

    .login form {
      min-width: 294px;
      max-width: 70%;
      margin: 0 auto;
  }
  
  
  
  }
  
  @media screen and (max-width:984px) and (min-width:767px) {
  
    .login form {
      min-width: 294px;
      max-width: 70%;
      margin: 0 auto;
  }
  }

input[type="password"]{
    padding-right: 40px
}
p#forgot_pswd {
    text-align: right;
    position: relative;
       
}
p#forgot_pswd a{
    color: #D66292;
    font-size: 16px; 
    text-decoration: none;
    font-weight: 600;
}
.mb_1{
    margin-bottom: 10px!important;
}

p.sign-Up {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
p.sign-Up a {
    color: #d66292;
    text-decoration: underline;
}

span.field-icon {
    position: absolute;
    right: 14px;
    bottom: 18px;
    background: white;
    cursor: pointer;
}
.pswdModal h5.modal-title,
.SignUp-Modal h5.modal-title{
    font-size: 22px;
    font-weight: 600;
}
.pswdModal .modal-header, 
.pswdModal .modal-footer,
.SignUp-Modal .modal-header, 
.SignUp-Modal .modal-footer{
    border: 0px
}

.pswdModal button.close, 
.SignUp-Modal button.close{
    position: absolute;
    top: 25px;
    right: 28px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 0;
    height: 35px;
    width: 35px;
    font-size: 1.8em;
    font-weight: 500;
    padding: 8px 8px 11px 8px!important;
    box-shadow: none!important;
    outline: none!important;
}

.myFlx{
    justify-content: space-between;
}
.myFlx>div {
    flex: 0 0 48%;
}

.signUp form {
    min-width: 350px;
    max-width: 85%;
    margin: 0 auto;
}

img.admin_logo {
    max-height: 55px;
    line-height: 60px;
    margin: 8px 0px;
}

.f-right{
    float: right;
    width: 1%;
}

ul.salonee_locations, ul.salonee_category{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
ul.salonee_locations li,
ul.salonee_category li {
    flex: 0 0 30%;
    display: flex;
    /* justify-content: center; 
    align-items: flex-start;*/
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    background: whitesmoke;
    position: relative;
}
ul.salonee_locations li span {
    background:#dedede;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.salonee_locations li span i.fa{
    font-size: 2em;
    color: #6d6d6d;
}
ul.salonee_locations li p,
ul.salonee_category li p {
    font-size: 14px;
    padding: 15px;
    margin-bottom: 0;
}
ul.salonee_category li p {
    width: 100%;
    line-height: 1.5;
    text-align: justify;
}
ul.salonee_locations li p b,
ul.salonee_category li p b {
    display: block;
    font-size: 16px;
}

.w-50{
    max-width: 500px;
    width: 100%;
    margin: 1em .3em;
    margin-bottom: 0;
    display: inline-block;
}
.rightBtn{
    /*position: absolute;
    right: 2em;
    top: 6em;*/
    margin-left: 1%;
    margin-top: 2%;
}

.rightBtn .login-btn {
    margin: 0;
}


/* custom pagination css */
.customPagination, .paginacaoCursor{
    margin: 10px 5px;
    padding: 5px 8px;
    color: #333;
    background: #fefefe;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  p.paginacaoValor.customPagination.activePagination {
  color: white;
}
  .pagination-container{
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

 /* custom image upload css */
.custom-file-upload {
    border: 1px solid #d66292;
    color: #d66292;
  display: inline-block;
  padding: 10px 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

input.form-control._search {
    outline: none;
    border-radius: 0;
    height: 42px;
    outline: none;
    box-shadow: none;
}

.w-50 .theme-btn{
    padding: 0;
    text-transform: capitalize;
}

.salonee_category li.tableItem small {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

ul.salonee_category li small> i.fa {
    font-size: 18px;
    padding: 3px;
}

.fa-pencil-square-o{
    color: #11ee11;
    font-size: 1.3em;
    cursor: pointer;
}
.fa-trash{
    color: #d66292;
    font-size: 1.3em;
    cursor: pointer;
}
table.table.themeTable.dataTable td {
    word-break: break-word;
}

.pad_3 {
    padding: 0 20px;
}
table.table.themeTable {
    border-collapse: separate;
    border-spacing: 0 .55em;
}
table.table.themeTable td,
table.table.themeTable th {
       border: none;	
    /* max-width: 90px; */	
    font-size: 15px;	
    padding: 5px;	
    vertical-align: middle;
}

table.table.themeTable td{
    background-color: #eee;
    font-size: 14px;
    word-break: break-word;
}
table.table.themeTable tbody tr{
    margin-bottom: 10px;
}

table.table.themeTable span i.fa{
    margin: 0 6px;
}
table.table.themeTable tr td a.badge,
table.table.theme_Table tr td a.badge {
    display: inline-block;
    margin: 2px 1px;
    padding: 5px;
}
table.table.theme_Table.dataTable td {
    word-break: break-word;
}
.pad_3 {	
    padding: 0 20px;	
}	
table.table.theme_Table {	
    border-collapse: separate;	
    border-spacing: 0 .55em;	
}	
table.table.theme_Table td,	
table.table.theme_Table th,	
table.dataTable td,	
table.dataTable th {	
    border: none;	
    /* max-width: 90px; */	
    font-size: 14px;	
    background-image: none!important;	
    padding: 5px 8px;	
}	
table.table.theme_Table tr.even td,	
table.dataTable tr.even td{	
    background-color: #fafafa;	
}	
table.table.theme_Table tr.odd td,	
table.dataTable tr.odd td{	
    background-color: #f6f6f6;	
}	
table.table.theme_Table td,	
table.dataTable tr td{	
    background-color: #f6f6f6;	
    font-size: 14px;	
}	
table.table.theme_Table tbody tr{	
    margin-bottom: 10px;	
}	
table.table.theme_Table span i.fa{	
    margin: 0 6px;	
}	
table.table.theme_Table td.usrImg,	
table.table.adTable td.usrImg {	
    overflow: hidden;	
    width: 55px;	
    height: 55px;	
    min-width: 70px;	
    max-width: 100px;	
}	
table.table.theme_Table td.usrImg img,	
table.table.adTable td.usrImg img {	
    width: 50px;	
    height: 50px;	
    object-fit: contain;	
    max-width: 50px;	
    border: 1px solid #ddd;	
}	
table.table.adTable td.usrImg a{	
    display: block;	
}	
table.table.adTable td.usrImg img {	
    border: 0;	
}	
table.table.adTable tr th{	
    white-space: nowrap;	
}

.pagination-container.tablePaging {
    width: 100%;
    /* float:left; */
    position: initial;
  }
  
 .tablePaging .pagination {
	/* background: #333; */
	display: flex;
    justify-content: flex-end;
}

.main__content .filtrBtns {	
    padding: 1em 0em;	
    padding-bottom: 1.5em;	
}	
.main__content .filtrBtns .btn.login-btn {	
    margin: 0.25em 0.05em;	
}
#numbers {
	padding: 0;
	margin: 0 0rem;
	list-style-type: none;
	display: flex;
}

#numbers li a {
	color: #333;
    background: #fefefe;
    cursor: pointer;
    border: 1px solid #ddd;
	padding: .5rem 1rem;
	text-decoration: none;
    opacity: .9;
    display: block;
}

#numbers li a:hover {
	opacity: 1;
}

#numbers li a.active {
	opacity: 1;
	background: rgb(214, 98, 146);
    color: #fff;
    border: 1px solid #d66292;
}

  ._hidden{
    visibility: hidden;
    display: none;
  }

  .promoCode li{
    flex-flow: column;
  }
  .promoCode li h4 {
    display: flex;
    flex-flow: row;
}

/*ul.salonee_category.promoCode li span {
    border-radius: 50%;
    height: 60px;
    width: 80px;
    margin: 10px 8px;
    background: white;
}*/
ul.salonee_category.promoCode li span {	
    display: block;	
    text-align: center;	
}
ul.promoCode li{
    border-radius: 10px;
    margin-bottom: 1em;
}
ul.promoCode li img{
    object-fit: cover;	
    height: 150px;	
    width: 100%;	
    background: white;
}

ul.promoCode li h4.footr{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: #e1e1e1;
    margin: 0;
    padding: 8px 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;	
    position: absolute;
}

ul.promoCode li h4.footr b{
    font-size: 15px;
}
ul.promoCode li h4.footr b i.fa {
    margin: 0px 10px;
}


._slot label.form-control-placeholder{
    font-size: 90%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background-color: white;
    color: #d66292;
}
.mySelect{
    background: #f4f4f4;
    padding: 0px 20px;
    height: 40px;
    border-radius: 0px;
    border: 1px solid #f4f4f4;
}

.d-m{
    color: black !important;
}

ul.main__header-user-menu-content.dropdown-menu.show {
    left: -212px!important;
    min-width: 300px;
    padding: 0;
    top: -2px!important;
    z-index: 1;
    transform: initial!important;
}
.main__header-user-menu-header{
    padding: 5px 10px;
}
.layout__container .main__header-user-menu-content > li > a{
    padding: 8px 20px;
    font-size: 16px;
}
.layout__container .main__header-user-menu-content > li > a:hover {
     color: #d66292!important;
     background-color: transparent;
}
.layout__container .main__header-user-menu-content >li a i.icon {
    display: none;
}
.layout__container .main__header-user-menu-content > li{
    border-top: 1px solid #eee;
}
.main__header-user-menu-header h3 {
    font-size: 18px;
    font-weight: 600;
    /* margin: 0; */
    line-height: 0.5;
}
.main__header-user-menu-header span {
    padding: 0!important;
    font-size: 13px;
    /* font-weight: 500; */
    line-height: 1;
}

.pro_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile_details {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
    padding: 0em 3em;
}

.profile_details span, .profile_details p {
    text-align: left;
    display: block;
}
.profile_details span{
    font-size: 14px;
    margin-bottom: 10px;
}
.profile_details p {
    font-size: 18px;
    font-weight: 500;
}

.profile_details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile_details ul li{
    margin-bottom: 2em;
}

.pro_img {
    text-align: center;
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.5em;
    width: 120px;
    height: 120px;
    border: 1px solid #222;
    border-radius: 50%;
}



/*Profile Pic Start*/
.picture-container{
    position: relative;
    text-align: center;
}
.picture{
    width: 120px;
    height: 120px;
    /* background-color: #999999; */
    /* border: 4px solid #CCCCCC; */
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    /* overflow: hidden; */
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    position: relative;
}
.picture-src:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.picture-src{
    width: 100%;
    height: 100%;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    object-fit: cover;
}
.picture-container i.fa-camera{
    right: -12px;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    color: #d66292;
    background: #ececec;
    padding: 8px;
    border-radius: 50%;
    z-index: 1;
}


.boxedList {
    padding: .5em;
    border: 1px solid #a6a6a6;
}
.boxedList p {
    margin-bottom: 10px;
}
.boxedList ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.boxedList ul li {
    flex: 0 0 22%;
    list-style-type: none;
    margin: 0.5em 0.25em;
    max-width: 100px;
    text-align: center;
}
.boxedList ul li a {
    background: #ccc;
    padding: 3px;
    font-size: 14px;
    color: #101010;
    display: block;
    border-radius: 6px;
    font-weight: 500;
}
 
  .boxedList input[type="radio"] {
    display: none;
  }
  
  .boxedList label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    margin: 0;
  }
  
  .boxedList input[type="radio"]:checked+label {
    background-color: #D66292;
    color: white;
  }
  .boxedList .booked+label {
    background-color: #e74c3c;
    color: white;
    cursor:not-allowed;
  }
.flxRow{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.custom-checkbox .form-check-label{
    user-select: none;
}
.form-check-label:before{
    background-color:red;
  }
  .custom-checkbox .form-check-input:checked~.form-check-label::before{
    background-color:black;
  }
  .custom-checkbox .form-check-input:checked~.form-check-label::after{   
    /* background:url("../../assets/img/icons/checked.png")no-repeat;
    background-position: center; */
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='hotpink' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    position: absolute;
    background-size: 18px;
    content: '';
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    top: 5px;
    left: -6px;
    border: 1px solid #6f6e6e;
    border-radius: 3px;
 }
/*Profile Pic End*/




/* ************************ New styles  *******************************/

ul.salonee_category li.admn_flx{
    padding: 10px 0px;
}
ul.salonee_category li.admn_flx p{
    font-size: 14px;
    padding: 0px 10px;
}
ul.salonee_category li.admn_flx label{
    margin-bottom: 0;
}
ul.salonee_category li.admn_flx b{
    font-size: 15px;
    font-weight: 600;
    color: #d66292;
    padding: 0px 10px;
}
.actionBtns{
    text-align: center;
    margin-left: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.actionBtns i.fa {
    font-size: 0.9em;
    padding: 3px 5px;
    margin-top: 10px;
}
ul.promoCode li.admn_flx .actionBtns img {
    padding: 3px 5px;
    margin-top: 18px;
    width: auto;
    max-width: initial;
    max-height: 25px;
}
ul.salonee_category.promoCode li.admn_flx span{
    height: 60px;
    width: 60px;
    background-color: #e1e1e1;
}
.promoCode li.admn_flx h4 {
    display: flex;
    flex-flow: row;
    margin-bottom: 0;
}
ul.promoCode li.admn_flx img {
    width: 100%;
    max-width: 28px;
}
 


.detailsView {
    padding: 2em 1em;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    font-size: 16px;
}

.col6 {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 50%;
    max-width: 48%; 
    margin: 0.5em 0;
}
.col6>label {
    position: relative;
    margin: 0;
    flex: 0 0 40%;
    font-weight: 600;
    color: #3b3b3b;
}
.col6>label:after {
    position: absolute;
    content: ':';
    right: 15px;
}

.btnBlock {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}
.btnBlock button{    
    flex: 0 0 50%;
    max-width: 49%;
}


/* dashboard cards styles  */
.displayCards{
    padding: 1em 2em;
}
.displayCards ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    width: 100%;
}
.displayCards ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0em .5em;
    margin-bottom: 1em;
    background: #eeeeee;
    min-width: 240px;
}
.displayCards ul li p{
    margin: 0;
}
.displayCards ul li>span {
    min-width: 70px;
    background: #d66292;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    min-height: 70px; 
}
.displayCards ul li>span img {
    max-width: 30px;
    width: 100%;
}
.displayCards ul li>div {
    padding: 0px 10px;
    width: 100%;
}
.displayCards ul li>div h3{
    font-size: 22px;
    font-weight: 600;
}
.displayCards ul li p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


.displayCards ul li:hover{
    cursor:pointer;
}


.salonee_category {
    padding-top: 25px;
}

.brancs-main .fa-camera{
    padding-left: 10px;
}

#home_weekend_name option{
padding:5px;
}

.lables-flex{
float:left;
}

.lables-flex1{
    float: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    opacity: 1;
      background: rgb(214, 98, 146);
      color: white !important;
      border: 1px solid #d66292;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    opacity: 1;
      background: rgb(214, 98, 146);
      color: white  !important;
      border: 1px solid #d66292;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    opacity: 1;
      background: rgb(214, 98, 146);
      color: white  !important;
      border: 1px solid #d66292;
  }

  .war-text{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

.skip-btn{
    margin-left: 10px;
    background-color: none !important;
    border: 2px solid #D66292;
    width: 200px;
    color: #D66292;
    font-weight: bold;
}
table.table.themeTable tr th {
     white-space: nowrap;
     background: #f876abad;
    border: 1px solid #de6e9b;
     border-left: 0;
    text-align: center;
}
td.sorting_1 {	
    text-align: center;	
}	
table.table.themeTable{	
    width: 100%;	
}	
table.table.themeTable tr th:nth-child(1) {	
    border-left: 1px solid #de6e9b;	
}	
.datatable-scroll {	
    overflow-x: auto;	
    overflow-y: visible;	
}	
.category-card li {	
    display: flex;	
    flex-direction: row;	
    background: #fff !important;	
    box-shadow: 1px 2px 7px #ccc;	
}	
.category-card li p b {	
    color: #d66292;	
}	
table.table.themeTable a,table.table.theme_Table a {	
    color: #d66292;	
    text-decoration: none;	
}	
table.table.themeTable a.badge, table.table.theme_Table a.badge {	
    color: #fff;	
}	
table.table.themeTable a.badge.badge-warning, table.table.theme_Table a.badge.badge-warning {	
    color: #000;	
}	
#date_range .login-btn {	
    margin: 2em 0em;	
}	
ul.salonee_category li p.promo-code {	
    background: #d66292;	
    color: #fff;	
    display: flex;	
    align-items: center;	
    justify-content: center;	
    font-size: 20px;	
}	
.category-card li img {	
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);	
    border-left: 5px solid #d66292;	
    height: 100%;
    object-fit: cover;
}	
#saloonTable td img {
    width: 50px;
}
ul.promoCode li .footr {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: #e1e1e1;
    margin: 0;
    padding: 8px 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
    position: absolute;
 }

 .custom-file-upload i {
    padding-left: 10px;
}
