@media only screen and (max-width: 1400px){
	.ttm-skill-wrapper{margin-right: -130px !important;}
	.spacing-6 {padding: 60px 130px 70px 180px;}
	.col-bg-img-six{margin-left: -130px;}
	.spacing-7 {padding: 120px 60px 90px 130px;}
}
@media only screen and (min-width: 1200px){
	
	.mrl-md-5rem {
		margin: 0 5rem 0 5rem!important;
	}
	
	/*topbar*/	
	.site-header-menu{height: 105px;}
	#site-header-menu #site-navigation .menu ul > li > a {
	   display: block;
	    margin: 0px;
	    padding: 0px 13px;
	    text-decoration: none;
	    position: relative;
	    z-index: 1;
	    height: 100px;
	    line-height: 100px;
	    text-transform: uppercase;
	}
	#site-header-menu #site-navigation .menu ul > li:last-child > a{padding-left: 0;}
	.ttm-header-style-01 #site-header-menu #site-navigation .menu ul.dropdown > li > a:before{
		content: "";
	    position: absolute;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    margin: auto;
	    background-color: #2d4a8a;
	    height: 2px;
	    transform-origin: left center;
	    -webkit-transform-origin: left center;
	    -webkit-transform: scale(0,1);
	    -khtml-transform: scale(0,1);
	    -moz-transform: scale(0,1);
	    -ms-transform: scale(0,1);
	    -o-transform: scale(0,1);
	    transform: scale(0,1);
	    -webkit-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
	    -khtml-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
	    -moz-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
	    -ms-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
	    -o-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
	    transition: transform .25s cubic-bezier(.37,.31,.2,.85);
	}	
	#site-header-menu #site-navigation .menu > ul > li > ul > li a{
	    font-weight: 400;
	    font-size: 13px;
	    line-height: 16px;
	    -webkit-transition: all .3s linear;
    	transition: all .3s linear;
	}
	#site-header-menu #site-navigation .menu > ul > li ul a{
	    -webkit-transition: all .3s linear;
    	transition: all .3s linear;
	}
	#site-header-menu #site-navigation .menu > ul > li ul a:before{
		font-size: 24px;
	    line-height: 9px;
	    content: "";
	    margin-left: 5px;
	    position: absolute;
	    width: 6px;
	    height: 2px;
	    opacity: 0;
	    right: 10px;
	    -webkit-transition: .5s all;
	    -o-transition: .5s all;
	    -moz-transition: .5s all;
	    -ms-transition: .5s all;
	    transition: .5s all;
	    top: 22px;
	}
	#site-header-menu #site-navigation .menu > ul > li ul a:hover:before{opacity: 1;right: 20px;}
	#site-header-menu #site-navigation .menu > ul ul li:hover > a {padding-right: 35px;}
	.ttm-header-style-01 .ttm-header-icons:before,
	.ttm-header-style-classic .ttm-header-icons:before {
	    display: block;
	    content: "";
	    position: absolute;
	    height: 30px;
	    width: 1px;
	    right: 10px;
	    top: 50%;
	    margin-top: -14px;
	    background-color: rgba( 11,12,38,0.06);
	}
	.header-btn a{border-right: 1px solid rgba(255,255,255,.12);padding: 0 20px}
	.ttm-header-style-01 .ttm-header-icons:before {background-color: rgba( 38,48,69,0.09);}
	.ttm-stickable-header.fixed-header {z-index: 111;-webkit-box-shadow: 0px 13px 25px -12px rgba(0,0,0,0.25);-moz-box-shadow: 0px 13px 25px -12px rgba(0,0,0,0.25);box-shadow: 0px 13px 25px -12px rgba(0,0,0,0.25);background-color: #333;}
	.ttm-header-style-01 #site-header-menu .ttm-stickable-header.fixed-header #site-navigation > .menu > ul > li > a,
	.ttm-header-style-01 .ttm-stickable-header.fixed-header .site-branding,
	.ttm-header-style-01 .ttm-stickable-header.fixed-header .ttm-header-icons,
	.ttm-header-style-01 .ttm-stickable-header.fixed-header .ttm-header-icon,
	.ttm-header-style-01 .ttm-stickable-header.fixed-header .header-btn{ 
		height: 70px; 
		line-height: 70px; 
	}
	.fixed-header {
	    position: fixed !important;
	    top: 0;
	    right: 0;
	    width: 100%; 
	    z-index: 9;
	}
	.ttm-rt-contact, .ttm-header-icon, .header-btn,.ttm-custombutton{ float: left; }
	
	/*ttm-header-style-01*/
	.ttm-header-style-01 .ttm-topbar-wrapper{ border-bottom: 1px solid rgba(255,255,255,0.09);}
	.ttm-header-style-01 .site-branding,
	.ttm-header-style-01 #site-header-menu #site-navigation .menu > ul > li > a,
	.ttm-header-style-01 .ttm-header-icons, .ttm-header-style-01 .ttm-header-icon	 { 
		height: 105px; 
		line-height: 105px;
		transition: all .5s;
	}


    #site-header-menu #site-navigation .menu > ul > li:last-child:after{ display: none; }
    #site-header-menu #site-navigation > ul li > a, 
    #site-header-menu #site-navigation .menu ul > li ul li > a {
        margin: 0;
        display: block;
        padding: 15px 20px;
        position: relative;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
    }    
	#site-header-menu #site-navigation .menu ul ul {
	    text-align: right;
	    position: absolute;
	    visibility: hidden;
	    display: block;
	    opacity: 0;
	    line-height: 14px;
	    right: 0;
	    top: auto;
    	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    transition: all .2s ease;
    	z-index: 99;
    	background-color: #fff;
    	width: 250px;
	    transform: translate(0, 10px);
    	transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;
	}
	#site-header-menu #site-navigation .menu > ul > li:last-child > ul{
		left: 0;
		right: auto;
	}
	#site-header-menu #site-navigation div.menu > ul > li:nth-child(2) ul {
	    background-position: 100% 0%;
	    background-size: auto;
	    background-repeat: repeat;
	    background-attachment: scroll;
	}
    #site-header-menu #site-navigation > ul > li ul a:before {
        font-family: "FontAwesome";
        display: inline;
        text-decoration: inherit;
        text-align: center;
        font-size: 24px;
        line-height: 9px;
        content: "-";
        margin-left: 5px;
        transform: translateY(-50%) translateX(10px);
        right: 0px;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all;
    }


    /*Footer*/
	.second-footer>div>.row .widget-area:first-child .widget { margin-left: 10px; }
	.second-footer>div>.row .widget-area:first-child .widget:not(:first-child) { padding: 0; margin-top: -20px; }
}
@media screen and (max-width: 1150px) and (min-width: 992px){
	
	.featured-imagebox-post .featured-content.featured-content-post .post-meta span{width: 100%; display: block;}
	.featured-imagebox-post .featured-content.featured-content-post .post-meta span:last-child{border:none; padding-right: 0;}
	
}
@media all and (max-width: 1199px) {

	/* Header */
	header .container{ max-width: 100%; }

	.ttm-menu-toggle {
	    position: relative;
	    height: 105px;
	    width: 100%;
	}
	.ttm-menu-toggle label {
	    cursor: pointer;
	    position: absolute;
	    z-index: 99;
	    height: auto;
	    width: 30px;
	    top: 45px;
	    left: 0px;
	    margin : 0;
	}
	.ttm-menu-toggle .toggle-block {
	    position: absolute;
	    height: 2px;
	    width: 100%;
	    padding: 0;
	    background-color: #262626;
	}
	.ttm-menu-toggle .toggle-blocks-1 {
	    position: relative;
	    float: right;
	}
	.ttm-menu-toggle .toggle-blocks-2 {
	    position: relative;
	    float: right;
	    margin-top: 6px;
	}
	.ttm-menu-toggle .toggle-blocks-3 {
	    position: relative;
	    float: right;
	    margin-top: 6px;
	}
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-2 { opacity: 0; }
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-1 {
	    transform: rotate(-135deg);
	    -webkit-transform: rotate(-135deg);
	    margin-top: 10px;
	}
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-3 {
	    transform: rotate(135deg);
	    -webkit-transform: rotate(135deg);
	    margin-top: -10px;
	}
	#site-header-menu #site-navigation .menu {
	    clear: both;
	    min-width: inherit;
	    float: none;
	}
	#site-header-menu #site-navigation .menu > li > ul.sub-menu {
	    padding: 0px;
	    border: none;
	    text-align: right;
	}
	#site-header-menu #site-navigation .menu, #site-header-menu #site-navigation .menu > ul ul , 
	#site-header-menu #site-navigation .menu ul li > ul li a:before{ display: none;}
	#site-header-menu #site-navigation .menu.active,
	#site-header-menu #site-navigation .menu > ul ul.active { max-height: 55em; display: block;}
	#site-header-menu #site-navigation .menu > ul > li:last-of-type a { border: none; }
	#site-header-menu #site-navigation .menu li a {
	    color: #fff;
	    display: block;
	    padding: 0.8em;
	    position: relative;
	}
	#site-header-menu #site-navigation .menu ul ul > li a {
	    padding: 10px 30px 10px 18px;
	}
	#site-header-menu #site-navigation .menu ul li:hover > ul {
	    display: block;
	    border: none;
	}
	#site-header-menu #site-navigation .menu ul li > ul{ padding-right: 15px; }
	#site-header-menu #site-navigation .menu ul.dropdown li a.active:after { content: '\f106'; font-family: 'FontAwesome'; }
	#site-header-menu #site-navigation .menu ul ul, #site-header-menu #site-navigation .menu ul ul ul {
	    display: inherit;
	    position: relative;
	    right: auto;
	    top: auto;
	    border: none;
	}

	/* header */
	.site-header-menu-inner.ttm-stickable-header{height: 105px; width: auto; display: block; position: relative;background-color: #333;}
	.site-branding{ float: right; text-align: right; }
	.site-branding  { 
	    position: absolute;
	    top: 0;
	    right: 15px;
	    z-index: 1;
        height: 105px;
	}
	.header-btn{ display: none;}
	.header_search{float: left;left: 70px; position: absolute;}
	.header_search a{margin-right: 15px}
	.ttm-search-overlay .ttm-site-searchform{top: 40%; width: 90%}
	#site-header-menu #site-navigation .menu ul > li ul li > a { padding : 15px 0 15px 15px; font-size: 15px;background: transparent;}
	#site-header-menu #site-navigation .menu > ul {
		position: absolute;
	    padding: 10px 20px;
	    box-shadow: rgba(0,0,0,0.12) -3px 3px 15px;
	    z-index: 100;
	    width: 94%;
	    margin: 0 auto;
	    top: 115px;
	    right: 0;
	    left: 0;
	    background-color: #fff;
	    border-top: 3px solid #bf9456;
	}
	.ttm-header-style-03 #site-header-menu #site-navigation .menu > ul{top: 80px;}
	.ttm-header-style-03 .ttm-rt-contact{display: none;}
	#site-header-menu #site-navigation .menu ul.dropdown > li > ul > li.has-submenu > a:after{ content: '\f107'; }
	#site-header-menu #site-navigation .menu ul.dropdown > li > ul > li.has-submenu > a.active:after{ content: '\f106'; }
	#site-navigation .menu > ul li:not(:last-child){
		border-bottom: 1px solid rgba(93,101,118,0.15);
	}
	#site-header-menu #site-navigation .menu ul.dropdown > li > a:after{ 
		position: absolute;
		left: 0;
		font-size: 16px;
		opacity: .8;
	}
	#site-header-menu #site-navigation .menu ul > li.has-submenu > a:after {
	    content: "\f107";
	    display: inline-block;
	    font-family: "FontAwesome";
	    position: relative;
	    font-size: 20px;
	    position: absolute;
	    left: 5px;
	}
	#site-header-menu #site-navigation .menu ul li a {
	    display: block;
	    padding: 15px 0px;
	    text-decoration: none;
	    line-height: 18px !important;
	    height: auto;
	    line-height: 18px;
	    color: #333;
	    font-size: 15px;
	    text-transform: uppercase;
	}
	#site-header-menu #site-navigation .menu li, #site-header-menu #site-navigation .menu > ul > li {
    	display: block;text-align: right;
	}
	#site-header-menu #site-navigation .menu,#site-header-menu #site-navigation .menu > ul ul{ 
		overflow: hidden;
	    max-height: 0;
	    background-color: #fff;
	}
	.ttm-search-overlay .w-search-form-row:before{ left: 7px; }
	.header_search a:before{content: none;}

	/* ttm-menu-toggle */
	.ttm-menu-toggle .spinner {
      position: absolute;
      height: 2px;
      width: 100%;
      padding: 0;
      background-color: #262626;
    }

	.ttm-topbar-wrapper,.ttm-custombutton{
	    display: none;
	}
	.ttm-menu-toggle .toggle-block{ background-color: #fff; }
	.ttm-stickable-header-w { background-color: #fff; height: 105px; line-height: 105px; position: relative;}
	.header-btn, .ttm-header-icons, .ttm-header-icon{ height: 80px; line-height: 80px;}
	.ttm-header-style-01 .site-branding img{max-height: 80px;}
	/* ttm-header-style-02 */
	.widget_info {
    display: none !important;
    visibility: hidden;
	}

	.res-1199-d-block{display: block !important;}

	/* tabs */
	.ttm-tabs ul.tabs.text-right{ text-align: right !important; }

	/* padding */
	.res-1199-mt-0{margin-top: 0 !important;}
	.res-1199-mt_70{margin-top: -70px !important;}
	.res-1199-pb-0{padding-bottom: 0 !important;}
	.res-1199-pl-15{padding-right: 15px !important;}
	.res-1199-pl-30{padding-right: 30px !important;}
	.res-1199-pr-15{padding-left: 15px !important;}
	.res-1199-pt-50{padding-top: 50px !important;}
	.res-1199-pt-0{padding-top: 0px !important;}
	.res-1199-pt-20{padding-top: 20px !important;}	
	.res-1199-mr-0{margin-left: 0 !important;}

	.res-1199-fs-24{font-size: 24px;}
	

	/* ttm-bg-layer */
	.ttm-row .container, .ttm-row .container-fluid, .ttm-page-title-row .container, footer .container, .element-row .container,.sidebar .container{ max-width: 100%; }
	.ttm-row .container, .ttm-page-title-row .container, footer .container, .element-row .container, .sidebar .container{ padding: 0; }
	.ttm-row .container > .row, .ttm-page-title-row .container > .row, footer .container .row, .element-row .container > .row , .sidebar .container > .row{ margin: 0; }
    
    .ttm-fid-view-topicon-row {margin-right: 15px !important;margin-left: 15px!important;}

    .ttm-page-title-row { padding-top: 110px; padding-bottom: 110px;}

    /* featured-imagebox */
	.featured-imagebox-services.style1 .featured-content { padding: 20px 20px 20px;}

	section.error-404 {  padding: 150px 0 150px;}
	.spacing-10 {padding: 40px 50px 40px 430px;} 
	/*sidebar */
	.sidebar .widget .widget-title:before {margin-right: -20px;}
	.widget.widget-download ul li i{font-size: 26px;margin: 8px 0px 8px 15px;}
	.widget.widget-download ul li{padding: 12px !important}
	/*team member history*/
	.tm-team-member-single-content-wrapper{padding-top: 30px !important; padding-bottom: 20px !important}
	/*contact*/
	.ttm-row.contact-detail{padding: 0 !important}
	.featured-icon-box.style8 .featured-content{padding-right: 15px}
	.featured-title h5{font-size: 22px}
	/*fid*/
	.ttm-fid.style1 .ttm-fid-icon-wrapper i{font-size: 40px}
}

@media (max-width: 1024px){
	.ttm-fid.style2 .ttm-fid-contents .ttm-fid-title{font-size: 15px}
	.contact-site-main {
		margin-top: 1px;
	}
}

@media only screen and (max-width: 991px) and (min-width: 917px){
	.ttm-tabs.tabs-style-03 ul.tabs li a i{top: 10px}
}

@media (min-width: 992px){

	/* sidebar-right*/
    .sidebar .col-lg-9.content-area{flex: 0 0 70%;max-width: 70%;}
    .sidebar .col-lg-3.widget-area{flex: 0 0 30%;max-width: 30%;}
}

@media (max-width: 991px){

	/* ttm-btn */
	.ttm-btn.float-right{ float: none!important; }
	.mission-section .ttm-icon{top: 30%; height: 70px; width: 70px; line-height: 70px; left: -35px}
	/* title */
	.section-title h2.title {font-size: 32px !important;line-height: 36px;}
	.section-title h5{margin-bottom: 5px;font-size: 50px;line-height: 50px;}
	.section-title.with-desc .title-header {  margin-bottom: 20px;}
	.section-title.style2 .title-header{ width: 100%; display: block; margin-bottom: 10px; padding-left: 0; }
	.section-title.style2 .title-header:after { position: unset;}
	.section-title{margin-bottom: 20px;}
	.ttm-row .beauty-service-title-wrapper{padding-top: 40px}

	/* ttm-row */
	.ttm-row { padding: 40px 0 !important; }
	.ttm-row.team-section { padding: 0px 0 10px !important;}
	.ttm-row.zero-padding-section,
	.ttm-row.map-section,
	.ttm-row.our-client-section{padding: 0 0 !important;}
	.ttm-row .blog-section-title{padding: 40px 0 100px;}
	.ttm-row.testimonial-section{padding-bottom: 40px !important;}

	/* spacing */
	.spacing-1 { margin: 0; padding: 50px 20px 10px; }
	.spacing-2 { padding: 40px 30px;}
	.spacing-3 {padding: 30px 50px 10px 15px;}
	.spacing-4 {padding: 0px 0px 15px;}
	.spacing-5 {padding: 25px;margin-right: -30px;}
	.spacing-6 {padding: 40px 130px 40px 170px;}
	.spacing-7 { padding: 50px 50px 100px 15px;}
	.spacing-8 { padding: 40px 0px 0px;}
	.spacing-9 { padding: 25px 0px 0;}

	/* featured-box */
	.zero-padding-section h3{font-size: 24px;}
	.featured-title h5, 
	.ttm-history-box-wrapper .ttm-historybox-title h5 { font-size: 18px; line-height: 24px;}
	.featured-thumbnail img{ width: 100%; }
	.featured-imagebox-team .featured-content {margin-bottom: 15px}
	.featured-imagebox-blog .featured-content { padding: 40px 15px 20px 15px;}
	.featured-imagebox-services.style1 .featured-content {padding: 10px 10px 20px;}
	.featured-imagebox-services.style1 .featured-content .featured-title h5{font-size: 20px;line-height: 25px;}
	.featured-imagebox-services.style1 a.di_link{font-size: 14px;width: 40px;height: 40px;line-height: 40px;}
	/* featured-icon-box */
	.featured-icon-box.icon-align-before-content.style1, .featured-icon-box.icon-align-before-content.style2{padding: 20px 40px 20px 10px;}
	.featured-icon-box.style4 .featured-desc h5 {font-size: 20px; line-height: 25px;}
	.featured-icon-box.style4 .ttm-icon.ttm-icon_element-size-lg{width: 100px}
	.featured-icon-box.style6 .featured-title h5 {font-size: 20px;}
	.featured-icon-box.style6.icon-align-before-content .featured-content {padding-right: 12px;}
	.featured-icon-box.style6 .ttm-icon i {font-size: 27px;padding-top: 5px;}
	.featured-icon-box.style7 .featured-content .featured-title h3{font-size: 20px; margin-bottom: 0;}
	.featured-icon-box.style7 .featured-content .featured-desc p{font-size: 14px;}
	.featured-icon-box.style7 .ttm-icon.ttm-icon_element-size-sm { height: 48px; width: 48px; line-height: 48px;}
	.featured-icon-box.style8{padding: 15px 0;}
	/* featured-imagebox */
	.grid-section .featured-imagebox-post.style3{margin-bottom: 30px}
	.featured-imagebox-post .featured-content .featured-title h5{-webkit-line-clamp: 1;}
	.featured-imagebox.style1 .featured-content{padding: 20px;}

	/* footer */
	.footer .widget { margin: 35px 0 0px; }
	.first-footer { padding: 40px 0 40px;}
	.second-footer .widget-area:nth-child(2) .widget{padding-right: 0;border-right: none;}
	.footer .second-footer {padding: 10px 0 40px;}
	.second-footer .widget.widget_nav_menu ul li:last-child,
	.second-footer .widget ul.ttm-recent-post-list>li:last-child{padding-bottom: 0px !important;}

	/* ttm-tab */
	.ttm-tabs.tabs-style-02 > ul{display: block;margin-bottom: 15px;}
	.ttm-tabs.tabs-style-02 > ul li{padding: 0px 10px 10px;margin-bottom: 10px; font-size: 20px}
	.ttm-tabs.tabs-style-02 > ul li a i{font-size: 30px;line-height: 25px; margin-bottom: 0;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li {margin: 0 10px;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li a { padding: 15px 15px;}
	/* element-page */
	.element-row  { padding: 0 0 30px; }
	.element-row > .section-title h2.title{ margin-top: 0px ;}

	/* shop */
	.ttm-product-image-box img{ width: 100%; }
	div.product .summary .product-rating{ float: none; }

	/* processbox */
	.ttm-processbox-wrapper { display: block;}
	.ttm-processbox-wrapper .ttm-processbox { width: 100%;}
	.ttm-processbox-wrapper .ttm-processbox:not(:last-child){ padding-bottom: 20px;}
	.ttm-processbox-wrapper .ttm-processbox .ttm-box-image:before{content: unset;}

	/* instagram */
	.ttm-row.instagram-section{padding-bottom: 0 !important;}
	.ttm-insta-images{display: block;}
	.ttm-insta-images .ttm-insta-image-item{display: inline-block; width: 30%;}

	/* client */
	.client-box.ttm-box-view-boxed-logo {
	    padding: 25px 0 0;
	    margin-top: 0px;
	    margin-bottom: 0;
	}
	.client-box .ttm-client-logo-tooltip {
	    padding-top: 0px;
	    padding-bottom: 0px;
	}
	.res-991-d-block{display: block !important;}
	.res-991-bl-0{border-right-color: transparent !important;}
	.res-991-bt-1{border-top: 1px solid #e3e3e3;}
	.res-991-fs-14{font-size: 14px}
	/* margin */
	.res-991-m-0{margin: 0 !important}
	.res-991-ml-0{ margin-right: 0 !important ; }
	.res-991-mr-0{ margin-left: 0 !important; }
	.res-991-mt-0{ margin-top: 0 !important; }
	.res-991-mb-0{ margin-bottom: 0 !important; }
	.res-991-mt-10{ margin-top: 10px !important; }
	.res-991-mtb-0{ margin-top: 0 !important; margin-bottom: 0px !important;}
	.res-991-mtb-10{ margin-top: 10px !important; margin-bottom: 10px !important;}
	.res-991-mtb-20{ margin-top: 20px !important; margin-bottom: 20px !important;}
	.res-991-mt_15{ margin-top: -15px !important;}
	.res-991-mt_80{ margin-top: -80px !important;}
	.res-991-mt-30{ margin-top: 30px !important;}
	.res-991-mt-40{ margin-top: 40px !important; }
	.res-991-mt-50{ margin-top: 50px !important; }
	.res-991-mt-60{ margin-top: 60px !important; }
	.res-991-mt-100{ margin-top: 100px !important; }
	.res-991-mb-20{ margin-bottom: 20px !important;}
	.res-991-mb-30{ margin-bottom: 30px !important;}
	.res-991-mb-40{ margin-bottom: 40px !important;}
	.res-991-mb-50{ margin-bottom: 50px !important;}
	.res-991-mlr-15{ margin-right: 15px !important; margin-left: 15px !important; }
	.res-991-ml_30{margin-right: -30px!important;}
	
	/* padding */
	.res-991-p-0{ padding: 0 ! important;}
	.res-991-pt-10{ padding-top: 10px !important; }
	.res-991-pt-15{ padding-top: 15px !important; }
	.res-991-pt-30{ padding-top: 30px !important; }
	.res-991-pt-40{ padding-top: 40px !important; }
	.res-991-pt-45{ padding-top: 45px !important; }
	.res-991-pt-50{ padding-top: 50px !important; }
	.res-991-ptb-0{ padding-top: 0px !important ; padding-bottom: 0px !important ; }
	.res-991-ptb-20{ padding-top: 20px !important ; padding-bottom: 20px !important ; }
	.res-991-pt-0 { padding-top: 0px !important; }
	.res-991-pl-0 { padding-right: 0px !important; }
	.res-991-pr-0 {padding-left: 0!important;}
	.res-991-pl-15 { padding-right: 15px !important; }
	.res-991-pl-30 { padding-right: 30px !important; }
	.res-991-pb-0{ padding-bottom: 0px !important }
	.res-991-pb-5{ padding-bottom: 5px !important }
	.res-991-pb-10{ padding-bottom: 10px !important }
	.res-991-pb-20{ padding-bottom: 20px !important }
	.res-991-pb-30{ padding-bottom: 30px !important }
	.res-991-pb-50{ padding-bottom: 50px !important }
	.res-991-pb-60{ padding-bottom: 60px !important }
	.res-991-pb-70{ padding-bottom: 70px !important }
	.res-991-pb-80{ padding-bottom: 80px !important }
	.res-991-pb-90{ padding-bottom: 90px !important }
	.res-991-pb-100{ padding-bottom: 100px !important }
	.res-991-plr-0{ padding-right: 0px  !important; padding-left: 0px !important;	}
	.res-991-plr-15{ padding-right: 15px !important; padding-left: 15px !important;	}
	.res-991-ptb-35{ padding-top: 35px !important; padding-bottom: 35px !important;	}

	.res-991-text-center{text-align: center !important;}
	

	.ttm-video-btn.ttm-right-center-video-btn{right: 0; left: 0;text-align: center;}
	.sidebar div.widget-area{margin-top: 0; margin-bottom: 0px;}
	.sidebar .widget-area .widget:last-child{margin-bottom: 0!important;}
	
	.sidebar .content-area{padding-bottom: 25px; }
	.banner-img-box:before{content: unset;}
	.banner-img-box .featured-content { padding: 15px;}

	.res-991-h-auto{height: auto;}
	.ttm-pf-single-detail-box { padding: 20px 20px 10px;}

	/* ttm-blog-classic */
	article.ttm-blog-classic .ttm-blog-classic-content { padding: 25px 15px 15px;}
	.ttm-blog-classic .entry-header .entry-title { font-size: 24px; line-height: 30px;}
	article.ttm-blog-classic{margin-bottom: 50px;}
	.sidebar .widget-area .widget{margin-bottom: 20px;}
	.ttm-pagination{margin-bottom: 20px}
	/*bg-img*/
	.col-bg-img-six { margin-left: -15px;margin-top: -40px;}
	/*ttm-list*/
	.ttm-list.ttm-list-style-icon{font-size: 16px}
	.ttm-list.ttm-list-style-icon.style2{font-size: 14px;line-height: 20px;}
	.ttm-list.ttm-list-style-icon.style2 li i{top: 2px}
	/*ttm-fid*/
	.ttm-fid.style1{padding: 20px 0px 10px 0px;}
	.ttm-fid-view-lefticon.style1 .ttm-fid-contents{padding: 7px 0px;}
	.ttm-fid.style2{padding: 15px}
	.ttm-fid.style2 .ttm-fid-icon-wrapper i{font-size: 30px; line-height: 30px}
	.ttm-fid.inside.style2 h4, .ttm-fid.inside.style2 h4 span{font-size: 28px; line-height: 35px;}
	.ttm-fid.style2 .ttm-fid-contents .ttm-fid-title{font-size: 13px; line-height: 17px;}
	/*team-member history*/
	.ttm-team-member-single-title{font-size: 28px}
	.member-contact-form{padding: 20px}
	/*contact*/
	.contact-detail-wrapper{padding: 30px}
	.featured-icon-box.style8 .ttm-icon.ttm-icon_element-size-xs{height: 55px; width: 55px; line-height: 55px;}
	.featured-icon-box.style8 .featured-title h5{margin-bottom: 0px !important;}
	.ttm-appointment{text-align: center;margin-top: 30px; padding: 20px 15px}
	.ttm-appointment h4{text-align: center;display: block !important;}
	.ttm-appointment a{margin-top: 25px;}
	.ttm-appointment h4 i{font-size: 22px;}
	/*testimonials*/
	.testimonials.style1{padding: 0;}


}

@media (min-width: 768px){

	/* featured-icon-box */
	.featured-icon-box.iconalign-before-heading.style1{
	    border-left: 1px solid rgba(255,255,255,.15);
	}
	div.product.ttm-single-product-details div.summary{width: 57%;}
	div.product.ttm-single-product-details div.images{width: 40%;}
	.comment-body .reply {
    position: absolute;
    top: 10px;
    left: 15px;
	}

}

@media (max-width: 767px){
	/*heading style*/
	h1 { font-size: 50px; line-height: 55px; }
	h2 { font-size: 36px; line-height: 42px; }
	h3 { font-size: 23px; line-height: 30px; }
	h4 { font-size: 20px;line-height: 25px;}
	h5 { font-size: 19px; line-height: 22px; }
	h6 { font-size: 17px; line-height: 20px; }
	/*spacing*/
	.spacing-2{padding: 40px 15px;}
	.spacing-3 {padding: 20px 15px 15px 15px;}
	.spacing-4 {padding: 0px 0px 0px;}
	.spacing-5 {padding: 20px; margin-right: 0px;}
	.spacing-6{padding: 40px 100px 60px 15px;}
	.spacing-7 {padding: 40px 20px 55px;}
	.spacing-10{padding: 40px 15px;}
	.ttm-row.contact-section{padding: 15px !important;}
	/*instagram*/
	.ttm-insta-images .ttm-insta-image-item{display: inline-block; width: 49%;}
	/*bg-img*/
	.bg-img5{background-position:left; background-size: cover;}
	.col-bg-img-three .layer-content{display: none;}
	.ttm-equal-height-image{display: block;}
	.zero-padding-section .ttm-equal-height-image{width: 100%; object-fit: cover; height: 200px;}
	.col-bg-img-one .layer-content{display: none;}
	.ttm-row-expand-rightfull:after{width: 0;}
	.col-bg-img-six{margin-left: -20px; margin-right: -20px; margin-top: 0;}
	/* Page-Title */
	.title-box .page-title-heading h1{ font-size: 38px ; line-height: 42px; }
	.ttm-row.price-text-section { padding-bottom: 70px !important;}
	.zero-padding-section .no-gutters{margin: 15px 15px 0px 15px !important;}
	.about-img-wrapper{margin-top: 40px;}
	/*testimonial*/
	.testimonials.style1 .testimonial-content h3{font-size: 26px;line-height: 30px;}
	.testimonials.style1 .testimonial-content p {font-size: 16px;line-height: 25px;}
	.ttm-testi-quote{right: 0;left: 0; margin: 0 auto;top: -30px; font-size: 25px; height: 50px; line-height: 55px; width: 50px;}
	.testimonials.style2 .testimonial-avatar, .testimonials.style2 .testimonial-caption{padding-top: 0}
	.testimonials.style2 .testimonial-img{margin-left: 10px; width: 60px; height: 60px;}
	.testimonials.style2 .testimonial-content p{font-size: 15px; line-height: 23px;}
	/* footer */
	.footer-logo { margin-bottom: 25px;}
	.copyright { padding-top: 13px; padding-bottom: 10px;text-align: center;}
	.copyright .social-icons{justify-content: center !important;}
	.footer-nav-menu{margin-bottom: 7px;}

	/* featured-icon-box */
	.featured-icon-box-style1-row{padding: 0;}
	.featured-icon-box.icon-align-top-content.style1 .featured-title h5 {font-size: 22px; line-height: 25px;}
	/* featured-imagebox */
	.res-767-left{text-align: right !important;}
	.res-767-center{text-align: center !important;}
	/* margin */
	.res-767-m-0{	margin: 0px!important; }
	.res-767-mb-0{	margin-bottom: 0px!important; }
	.res-767-mb-15{	margin-bottom: 15px!important; }
	.res-767-mb-30{	margin-bottom: 30px!important; }
	.res-767-mb-40{	margin-bottom: 40px!important; }
	.res-767-mt-0{ margin-top: 0px !important; }
	.res-767-mt-10{ margin-top: 10px !important; }
	.res-767-mt-20{ margin-top: 20px !important; }
	.res-767-mt-30{	margin-top: 30px !important; }
	.res-767-mt-40{	margin-top: 40px !important; }
	.res-767-mt-50{	margin-top: 50px !important; }
	.res-767-ml-10{	margin-right: 10px!important; }
	.res-767-ml-0{	margin-right: 0px!important; }
	.res-767-m-auto{margin: 0 auto }
	.res-767-ml_100{margin-right: -100px !important;}
	.res-767-mr_20{margin-left: -20px;}

	/* padding */
	.res-767-plr-15{ padding: 0 15px !important; }
	.res-767-pl-15{ padding-right: 15px !important; }
	.res-767-pr-15{ padding-left: 15px !important; }
	.res-767-pl-5{ padding-right: 5px !important; }
	.res-767-pr-5{ padding-left: 5px !important; }
	.res-767-pl-0{ padding-right: 0px !important; }
	.res-767-pr-0{ padding-left: 0px !important; }
	.res-767-p-0{ padding: 0px !important; }
	.res-767-p-15{ padding: 15px !important; }
	.res-767-pb-20{	padding-bottom: 20px!important;	}
	.res-767-pb-30{	padding-bottom: 30px!important;	}
	.res-767-pt-0{	padding-top: 0px!important; }
	.res-767-pt-30{	padding-top: 30px!important; }
	.res-767-pt-40{	padding-top: 40px!important; }
	.res-767-pt-15{	padding-top: 15px!important; }

	.res-767-fnone{float: none !important;}
	.res-767-b-0{border: none !important;}
	.res-767-fs-14{font-size: 14px;}
	
	.ttm-tag-list span a{margin-top: 15px;}
	.res-767-h-auto{height: auto;}

	.ttm-pricing-plan{margin-bottom: 20px !important;}
	.ttm-pricing-plan .ttm-featured-title {position: relative;}
	.ttm-pricing-plan.ttm-pricing-plan-col { padding: 50px 30px 30px;}

	.ttm-blog-single .ttm-blog-single-content blockquote { padding: 20px 20px 16px 20px; font-size: 17px;}
	/*widget*/
	.second-footer .widget-area:nth-child(2) .widget{border: none;padding: 0}
	.widget .widget-title{margin-bottom: 15px; padding-bottom: 0;}
	.footer .widget {margin: 25px 0 0px;}
	/*ttm-fid*/
	.ttm-fid.style1{padding: 20px 20px 10px 20px !important;border: none;}
	.ttm-fid.style2{margin-bottom: 15px}
	/*sidebar*/
	.sidebar .widget-area .widget{margin-bottom: 20px; padding: 20px;}
	/*team history*/
	.tm-team-member-single-content-wrapper{padding-top: 0px !important; margin: 0 15px;}
	.ttm-progress-bar{margin-bottom: 15px !important;}
	.ttm-team-member-single-list p{margin-bottom: 10px;}
	/*contact*/
	.contact-section-wrapper{margin: 0;}
	.featured-icon-box.style8{padding: 20px 0;}
	.contact-section img {object-fit: unset; height: auto !important;}
	.map-section{padding-top: 0}
	/*blog*/
	.featured-imagebox-post .featured-content.featured-content-post .post-meta span{width: 100%; display: block;}
	.featured-imagebox-post .featured-content.featured-content-post .post-meta span:last-child{border:none; padding-right: 0;}
	.featured-imagebox-post .featured-content.featured-content-post{padding: 10px 15px 25px;}
	.featured-imagebox .featured-content .featured-title h5 { font-size: 22px;line-height: 25px;margin-top: 10px;}
	.featured-imagebox-post .featured-content.featured-content-post .post-footer{padding: 10px 0 0; margin-top: 15px;}
	.ttm-blog-single blockquote{margin: 20px 0; padding: 20px; font-size: 20px; line-height: 25px}
	.ttm-blog-single blockquote:after{right: 5px; top: 10px;}
	.ttm-blog-classic .ttm-blogbox-desc-footer{padding: 15px 0; margin-top: 10px;}
	.ttm-author {padding: 25px;}
	.ttm-author .author-avatar{margin-left: 10px; width: 80px; height: 80px;}
	.ttm-author .author-info{margin-right: 95px}
	.comments-area h2, .comment-reply-title{font-size: 22px;line-height: 22px; margin-bottom: 0}
	.comments-area{margin-top: 30px}
	.comment-form label{display: inline;}
	.services-slide .owl-nav{top: -120px}
	.ttm-quote-form .form-group{margin-bottom: 15px}
	/*ttm-icon*/
	.mission-section .ttm-icon{height: 50px; width: 50px;line-height: 50px; left: -25px;}
	.mission-section .ttm-icon.ttm-icon_element-size-lg i{font-size: 25px}
	/*ttm-list*/
	.ttm-tabs.tabs-style-03 > ul.tabs{display: block;}
	.ttm-tabs.tabs-style-03 > ul.tabs li:not(:last-child){margin-bottom: 10px}
	.ttm-tabs.tabs-style-03 > ul.tabs li, .ttm-tabs.tabs-style-03 > ul.tabs li:last-child{margin-left: 5px}
	.ttm-tabs.tabs-style-03 > ul.tabs li a i{top: 10px}
	.ttm-tabs.tabs-style-01 ul.tabs{margin-bottom: 0}
	ul.ttm-pricelist-block li{padding: 15px 0 20px;}
	/*page-title*/
	.ttm-page-title-row {padding-top: 74px; padding-bottom: 74px;}
	.title-box .page-title-heading h1{font-size: 30px; line-height: 35px}
	/*error-page*/
	section.error-404 .ttm-big-icon{font-size: 120px;}
	section.error-404 h1{font-size: 75px}
	section.error-404{padding: 100px 0}

}


@media (min-width: 576px){
	.ttm-tabs.ttm-tab-style-classic ul.tabs {
    display: -webkit-flex;
    display: flex;
    width: 100%;
	}
	.ttm-tabs.ttm-tab-style-classic.style2 ul.tabs{display: block;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs { border: 1px solid #f0f0f0;}
}
@media (max-width: 575px){

	.site-branding img { max-height: 48px;}
	.ttm-header-icons .ttm-header-icon { margin-right: 0;}
	.ttm-header-icons .ttm-header-cart-link a, 
	.ttm-header-icons .ttm-header-search-link a {
	    height: 25px;
	    width: 25px;
	    line-height: 25px;
	}
	.btn-res{
		width: 25px !important; height: 25px !important; line-height: 25px !important;margin-top: 20px !important;
	}
	.ttm-row.team-section { padding: 40px 0 25px !important;}

	/* single-blog */
	.ttm-post-prev-next-buttons{ text-align: center; }
	.ttm-post-prev-next-buttons a.float-right{ float: none !important; }

	/* footer */
	.first-footer .featured-icon-box.left-icon{margin-bottom: 30px;}
	.footer-logo img { max-height: 60px;}
	.footer .second-footer {padding: 0px;}
	
	/* featured-icon-box */
	.featured-icon-box.style1.without-icon { padding-top: 30px;}
	.row > [class*='col-']:not(:last-child) > .ttm-fid-view-lefticon.style1:before{content: unset;}
	.featured-icon-box.style4 .ttm-icon.ttm-icon_element-size-lg {
	    width: 80px;
	    height: 80px;
	    line-height: 80px;
	}
	.featured-imagebox-services.style4, .featured-imagebox-services.style4 .featured-content{margin-bottom: 0;}

	.res-575-d-block{display: block !important;}
	.res-575-border-top{border-top: 1px solid rgba(0, 0, 0, 0.05) !important;}
	.res-575-border-right{border-left: 0 !important}
	/*margin*/
	.res-575-mt-0{margin-top: 0px !important;}
	.res-575-mt-15{margin-top: 15px !important;}
	.res-575-mt-30{margin-top: 30px !important;}
	.res-575-mb-20{margin-bottom: 20px !important;}
	.res-575-mb-0{margin-bottom: 0px !important;}
	/*padding*/
	.res-575-p-0{padding: 0 !important;}
	.res-575-pt-0{padding-top: 0 !important;}
	.res-575-pt-15{padding-top: 15px !important;}
	.res-575-pb-20{padding-bottom: 20px !important;}
	.res-575-pb-40{padding-bottom: 40px !important;}
	.res-575-pb-10{padding-bottom: 10px !important;}
	.res-575-pl-15{padding-right: 15px !important;}
	.res-575-pr-15{padding-left: 15px !important;}
	/*spacing*/
	.spacing-5 {padding: 15px;}
	.spacing-6 {padding: 40px 100px 60px 20px;}
	.res-575-flex-direction{display: flex;flex-direction: column-reverse;}

	/* ttm-tab */
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li i { display: none;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li a { margin-bottom: 15px;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li a { border: 1px solid #f0f0f0;}
	.ttm-tabs.tabs-style-02 > ul li{font-size: 18px}
	.ttm-tabs.tabs-style-02 > ul li a i{font-size: 27px;line-height: 20px; margin-bottom: 0; height: 45px;}
	.ttm-tabs .content-tab { margin-top: 5px;}

	.ttm-tabs.ttm-tab-style-horizontal ul.tabs li,
	.ttm-tabs.ttm-tab-style-horizontal ul{ display: block; margin-left: 0; }

	.team-section .featured-imagebox.style1{margin-bottom: 15px;}
	.res-575-d-inline-block{display: inline-block !important;}
	/*ttm-fid*/
	.ttm-fid.style1{padding: 5px 15px 10px 15px !important;}
	.ttm-fid-view-lefticon.style1 .ttm-fid-contents .ttm-fid-title{font-size: 14px; line-height: 20px}
	.ttm-fid-view-lefticon.style1 .ttm-fid-icon-wrapper i{font-size: 30px}
	.inside.ttm-fid-view-lefticon.style1 h4 span{font-size: 28px}
	.ttm-fid.inside.style2 h4, .ttm-fid.inside.style2 h4 span, .ttm-fid.style2 .ttm-fid-icon-wrapper i{font-size: 23px;margin-left: 0}
	/*accordian*/
	.accordion .toggle-title a{font-size: 18px;padding: 10px 12px 10px 27px;}
	.accordion .toggle-content{padding: 10px}
	.accordion .toggle .toggle-title a:after{left: 10px;top: 18px;}
	/*contact*/
	.contact-detail-wrapper{padding: 15px}
	/*blog*/
	.featured-imagebox-post{margin: 0 0 15px}
	.ttm-author {padding: 15px;}
	.ttm-author .author-avatar{float: none;}
	.ttm-author .author-info {margin-right: 0;margin-top: 10px;}
	.about-weare-section .featured-thumbnail img{height: auto;}
	.featured-imagebox-services.style2{display: flex;flex-direction: column-reverse;margin-bottom: 0}
	.ttm-tabs.tabs-style-01 ul.tabs{display: block;}
	.ttm-tabs.tabs-style-01 ul.tabs li{display: inline-block; width: 45%; border: 2px solid #bf9456; margin: 0 3px 10px 3px;}
	.grid-section .featured-imagebox-post.style3{margin-bottom: 15px}
	/*ttm-icon*/
	.mission-section .ttm-icon{left: 0; bottom: -35px; top: auto; right: 0; margin: 0 auto;}
	/*gallery*/
	.gallery-section .featured-imagebox.style2{margin: 0 5px;}
}
@media (max-width: 480px){
	/*spacing-2*/
	.spacing-2 {padding: 20px;}

	/* blog-comment */
	.comment-author{display: none;}
	.comment-box{margin-right: 0}
	.comment-list li{margin-top: 20px}
	.comment-body{margin-bottom: 20px}
	.comment-body,
	.comment-list .children{margin-right: 0;}
	/*margin*/
	.res-480-mt-0{margin-top: 0 !important;}	
	.res-480-mb-20{margin-bottom: 20px !important;}
	ul.ttm-pricelist-block li h3, ul.ttm-pricelist-block li .service-price{position: relative;top: auto;display: block; margin-top: 7px;}
	.services-slide .owl-nav{display: none;}

}

@media (max-width: 375px){
	/*newsletter-form*/
	.first-footer .newsletter-form input[type="email"]{padding: 12px 10px;}
	.first-footer .newsletter-form button[type="submit"]{padding: 0 10px 0; }
	.ttm-tabs.tabs-style-01 ul.tabs li a{padding: 8px; font-size: 15px}
}
@media (max-width: 371px){
	.res-371-mb-20{margin-bottom: 20px !important;}
}